.advantages {
    padding: 71px 0 63px 0;
    background-color: #F6F6F6;
    &__wrapper {
        display: flex;
        margin-top: 60px;
        justify-content: space-around;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 277px;
    }
    &__subtitle {
        margin-top: 35px;
        color: #0D0D0D;
        font-weight: 700;
        font-size: 18px;
    }
    &__descr {
        width: 277px;
        color: #0D0D0D;
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        a {
            color: #FF0000;
            text-decoration: underline;
            font-weight: 300;
            font-size: 14px;
        }
    }
    &__icon {
        &_animations {
            animation-name: heartbeat;
            animation-duration: 2s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
        }
    }


}